/*
 * This is the partial to be used for exceptions handled as the result of xhr actions
 *
 * where 'message' is the text from rails_app_error.rb
 *
 */
jQuery('body').append('<div id="errational_error_dialog"></div>');
jQuery('#errational_error_dialog')
        .html('<%= message.html_safe %>')
        .dialog(
            {
                minHeight: 'auto',
                height: 'auto',
                modal: true,
                dialogClass: 'errational_class',
                title: 'Error!',
                resizable: false,
                width: 450
            }
        );
